{% extends 'base.html' %}

{% block title %}关于我{% endblock %}

{% block left %}
    <div id="main">
        <article class="article article-type-post">
            <div class="article-inner">
                <header class="article-header">
                    <h1 itemprop="name">
                        <a class="article-title" href="#" target="_blank">标题</a>
                    </h1>
                </header>
                <div class="article-entry" itemprop="articleBody">
                    <hr>
                    这里是描述信息
                </div>
            </div>
        </article>
    </div>
{% endblock %}

